{% extends "../base.html" %}

{% block title %}Login{% endblock %}

{% block content%}
<h2>Register</h2>
<form method="post">
	{% csrf_token %}
	{{ aform.as_p }}
	{{ bform.as_p }}
	<button type="submit">Register</button>
</form>
{% endblock %}