.stretch {
	height: 100%;
}

.stretch-mod {
	height: calc(100% - 4.5em);
}

.title-bar {
	height: 4.5em;
}

.title-text {
	font-size: 10em;
}

.tiny-img {
	height: 32px;
	width: 32px;
	margin: 2px;
	border-radius: 16px;
}

.scroll {
	overflow-y: scroll;
}

.panel {
	margin-bottom: 0px;
}

.logout-fix {
	margin-bottom: 4px;
}

li.btn:active:hover,
li.btn.active:hover,
li.btn.active {
	background-color: #e6e6e6;
	border-color: #adadad;
}

.wrap-fix {
	white-space: normal;
	display: inline-block;
}

hr {
	margin: 2px;
}

.top-clear {
	margin-top: 16px;
}