{% extends "base.html" %}
{% load static %}

{% block title %}Chat away!{% endblock %}

{% block content %}
<ng-include src="'{% static "sidebar.html" %}'"></ng-include>
<ng-include src="'{% static "chat.html" %}'"></ng-include>

<script type="text/javascript" src="/static/bundle.js"></script>
{% endblock %}