<!DOCTYPE html>
<html class="stretch" ng-app="myApp">
<head>
	<title>FooBarChat {% now "Y" %} {% block title %}{% endblock %}</title>
	{% block head %}{% endblock %}
</head>
<body class="stretch">
	<div class="fluid-container stretch">
		<div class="col-xs-12 title-bar">
			<div class="row">
				<span class="title-text col-xs-4 text-center bg-danger"><h2>FOO</h2></span>
				<span class="title-text col-xs-4 text-center bg-success"><h2>BAR</h2></span>
				<span class="title-text col-xs-4 text-center bg-info"><h2>CHAT</h2></span>
			</div>
		</div>
		{% block content %}{% endblock %}
	</div>
</body>
</html>