<div ng-show="conversation" class="col-xs-12 col-sm-6 col-md-9 panel panel-default scroll stretch-mod" ng-controller="ChatCtrl" scroll-glue>

	<div class="h1">
		<span ng-click="editName()" ng-hide="editname">{{conversation.name}}</span>
		<input ng-show="editname" ng-model="conversation.name" type="text" name="convname">

		<button ng-click="editName()" class="btn btn-default btn-sm">{{editname ? 'Save' : 'Edit'}}</button>
	</div>
	<div class="clearfix"></div>

	<div class="col-xs-3 col-md-2 text-center" ng-repeat="usr in conversation.users" ng-include="'/static/user.html'"></div>

	<div class="clearfix"></div>
	<hr />

	<div class="form-group">
		<div class="col-xs-2">
			<input class="form-control" ng-model="add.user" type="number" placeholder="User ID" name="">
		</div>
		<button ng-click="add()" class="btn btn-default">Add</button>
	</div>
	<div class="form-group">
		<button ng-click="leave()" class="btn btn-danger">Leave</button>
	</div>
	<div class="clearfix"></div>
	<hr />

	<div ng-repeat="msg in conversation.message_set | orderBy:'modified'">
		<ng-include src="'/static/msg.html'"></ng-include>
		<span>{{msg.text}}</span>
		<hr />
	</div>
	<div class="row">
		<div class="col-xs-12 panel panel-default">
			<form class="form-group">
				<label for="msg">Message:</label>
				<input type="text" ng-model="text" class="form-control" id="msg" name="textmessage"></input>
				<button type="button" class="col-xs-4 btn btn-default">Attach File</button>
				<button type="button" class="col-xs-4 btn btn-default">Attach Image</button>
				<button type="submit" ng-click="sendChat()" class="col-xs-4 btn btn-primary">Send</button>
			</form>
		</div>
	</div>
</div>