<ul class="list-group">
	<li ng-class="{'active': conversation.pk == conv.pk}" ng-click="actChat(conv.pk)" ng-repeat="conv in convs | orderBy:'-last_active'" class="btn btn-default list-group-item" ng-init="getLastMsg(conv)">
		{{msg = conv.message; ""}}

		<span class="label label-default wrap-fix">{{conv.name}}</span>
		<div class="clearfix"></div>
		<div ng-include="'/static/msg.html'" ng-show="msg.user.profile"></div>
		<div class="wrap-fix" >{{(msg.text || '') | limitToText:100}}</div>
		<div ng-hide="msg" class="label label-default">
			<span>Created/Modified </span><span am-time-ago="conv.modified">
		</span>
	</div>
</li>
</ul>