<!--<div class="form-group top-clear">
	<input ng-model="friend.pk" class="form-control center-block" type="number" name="frnd" placeholder="Friend ID to add">
	<button ng-click="addFriend()" class="form-control btn btn-default btn-block">Add Friend</button>
</div>-->
<ul class="list-group">
	<li ng-repeat="usr in friends" class="list-group-item col-sm-12">

		<div class="center-block btn btn-default btn-lg">
			<div ng-click="actFriend(usr.pk)" ng-include="'/static/user.html'">
			</div>

			<span ng-if="usr.first_name || usr.last_name" class="label label-info wrap-fix">{{usr.first_name}} {{usr.last_name}}</span>
		</div>
		<!--<span ng-click="removeFriend(usr.pk)" class="btn btn-danger btn-block">REMOVE THIS SCUM!</span>-->
	</li>
</ul>