<span class="label label-default" am-time-ago="msg.modified"></span>

<img class="tiny-img hidden-sm hidden-xs" ng-src="{{getUser(msg.user).profile.picture || 'http://via.placeholder.com/32x32'}}">

<span class="label" ng-class="isUser(msg.user) ? 'label-success' : 'label-info'">{{getUser(msg.user).username}}:</span>