<div class="col-md-3 col-sm-6 col-xs-12 panel panel-default scroll stretch-mod" ng-controller='SidebarCtrl'>
	<div class="row">
		<div class="col-xs-12 text-center logout-fix">
			<p class="label label-info">Welcome Back 
				{{user.username}} # {{user.pk}}</p>
				<div class="clearfix"></div>
				{{usr = user;""}}
				<div ng-show="usr" ng-include="'/static/user.html'">
				</div>
				<a class="label label-danger" href="/account/logout">Logout?</a>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="row">
					<a class="btn btn-default col-sm-6 col-xs-12" ng-click="udFrnds()" ng-class="{'active': page == 0}">Users</a>
					<a class="btn btn-default col-sm-6 col-xs-12" ng-click="udConvs()" ng-class="{'active': page == 1}">Conversations</a>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="row" ng-switch="page">
			<div ng-switch-when="0">
				<ng-include src="'/static/friends.html'"></ng-include>
			</div>
			<div ng-switch-when="1">
				<ng-include src="'/static/conversations.html'"></ng-include>
			</div>
		</div>
	</div>