<div class="row">
	<img class="tiny-img" ng-src="{{usr.profile.picture || 'http://via.placeholder.com/32x32'}}">
	<div class="clearfix"></div>
	<span class="label label-default">{{usr.username | limitToText:15}} # {{usr.pk}}</span>
</div>